[run]
source = .
omit =
    */migrations/*
    */tests/*
    */.venv/*
    manage.py
    config/wsgi.py
    config/asgi.py
    config/celery.py

[report]
show_missing = True
skip_covered = False
fail_under = 50

[html]
directory = htmlcov
