{% extends "base.html" %}
{% block title %}{{ store.name }} - وبلاگ{% endblock %}
{% block content %}
<div class="vg-page vg-width" id="blog-list-page" data-vg-reveal>
    <div class="vg-page-head">
        <p class="vg-eyebrow-dark"><i data-lucide="newspaper"></i> مطالب</p>
        <h1 class="vg-page-title">وبلاگ</h1>
    </div>
    <div class="vg-blog-filters" id="blog-categories"></div>
    <div id="blog-posts">
        <div class="vg-empty">
            <i data-lucide="loader-circle" class="vg-empty-icon"></i>
            <p>در حال بارگذاری...</p>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="/static/js/blog.js"></script>
{% endblock %}
